.carousel-inner {
    width:100%;
    max-height: 600px !important;
}

.carousel-main-img {
    opacity: 0.4;
    object-fit: fill;
}
.carousel-item {
    position: relative;
}

.tag {
    float: left;
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    
}
.tag-title {
    font-size: 95px;
    width: 500px;
    display: inline-block;
}
.rec-img {
    height: 300px;
}