body {
    background-color:rgb(31, 31, 31) !important;
    color: white !important;
    margin-top: 0 !important;
    /* font-family: 'Noto Sans KR', sans-serif !important; */
    font-family: 'Do Hyeon', sans-serif !important;
}
.background-none {
    background-color:rgb(31, 31, 31) !important;
}
.container-cover {
    position: relative;
    /* text-align: center; */
}
.inner {
    z-index: 1000;
    /* float: center; */
    position: absolute;
    top: 50%;
    left: 50%
    
}
.head-cover {
    position:relative;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center top;
    opacity: 0.3;
    top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-nav {
    top:0;
    left: 0;
    right: 0;
}

.avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.dropdown-item:hover {
    color: black !important;
}
.fa-naver:before {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    content: 'N';
    color: rgb(45, 180, 0);
}

.account-card {
    background-color:rgb(31, 31, 31) !important;
}

.myc-color {
    color: #39CCCC;
}
.poster-img {
    object-fit: cover;
    height: 360px;
}

.img-hover-zoom {
    height: 300px;
    overflow: hidden;
    background-color:rgb(31, 31, 31) !important;
  }
  
.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover{
    cursor: pointer;
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
    opacity: 0.4;   
}
.img-hover-zoom div {
    visibility: hidden;
}
.img-hover-zoom:hover div {
    visibility: visible;
    font-size: 30px;
}