<!-- Modal -->
{% load bootstrap4 %}
<div class="modal fade" id="commentEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 900px;">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">의견 수정하기</h5>
          <a type="button" href="{% url 'movies:movie_detail' movie.pk %}" class="close text-white" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
          <form action="" method="POST" class="edit-form">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="modal-footer">
                <button class="btn btn-outline-light">SAVE</button>
                <a href="{% url 'movies:movie_detail' movie.pk %}" type="button" class="btn btn-secondary">CLOSE</a>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>
