{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Movies{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/movies/stylesheets/genre.css' %}">
{% endblock %}

{% block content %}
    <div class="container p-3 genre-div">
        <div class="mt-5 genre-list zindex-sticky">
            <h3 class="my-4">Genre</h3>
            {% for genre in genres %}
                <span class="select-genre genre-button m-2" id="genre-{{ genre.id }}" data-genre-pk="{{ genre.id }}">{{ genre.name }}</span>
            {% endfor %}
            <hr>
        </div>
        <div class="row justify-content-center">
            {% for movie in movies %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 card-deck movie-all" id="movie-{{ movie.id }}">
                    <div class="card border-0 m-3 text-center img-hover-zoom movie-link" style="width: 18rem;"
                        onclick="goDetail(event, `{% url 'movies:movie_detail' movie.pk %}`)">
                        <!-- onclick="goDetail(event, this)"> -->
                        <!-- onclick="location.href=`{% url 'movies:movie_detail' movie.pk %}`"> -->
                        {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" 
                            class="mw-100 poster-img" alt="Movie Poster">
                        {% else %}
                            <img src="https://media.comicbook.com/files/img/default-movie.png" 
                            class="mw-100 poster-img" alt="Movie Poster">
                        {% endif %}
                        <div class="card-img-overlay">
                            <p>{{ movie.title }}</p>
                            <p>
                                {% if user in movie.selected_users.all %}
                                    <i class="fas fa-bookmark mx-2 select-button" style="color:#39CCCC" data-movie-pk="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-bookmark mx-2 select-button" style="color:white" data-movie-pk="{{ movie.pk }}"></i>
                                {% endif %}
                                {% if user in movie.watched_users.all %}
                                    <i class="fas fa-eye mx-2 watch-button" style="color:#39CCCC" data-movie-pk="{{ movie.pk }}"></i>
                                {% else %}
                                    <i class="fas fa-eye mx-2 watch-button" style="color:white" data-movie-pk="{{ movie.pk }}"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>

        function goDetail(event, url) {
            console.log('div')
            window.location.href = url;
        }

        const selectButtons = document.querySelectorAll('.select-button');
        selectButtons.forEach(function(selectButton){
            selectButton.addEventListener('click', function(event){
                event.stopPropagation();
                const moviePk = event.target.dataset.moviePk
                axios.get(`/movies/${moviePk}/selected`)
                    .then(function(response){
                    const count = response.data.count
                    const select = response.data.select
                    if (select){
                        event.target.style.color = "#39CCCC"
                    }else{
                        event.target.style.color = "white"
                    }
                    });
        });
    });
    const watchButtons = document.querySelectorAll('.watch-button');
    watchButtons.forEach(function(watchButton){
        watchButton.addEventListener('click', function(event){
            event.stopPropagation();
            const moviePk = event.target.dataset.moviePk
            axios.get(`/movies/${moviePk}/watched`)
                .then(function(response){
                const count = response.data.count
                const watch = response.data.watch
                if (watch){
                    event.target.style.color = "#39CCCC"
                }else{
                    event.target.style.color = "white"
                }
            }); 
        });
    });
    </script>
    {% include 'movies/genre_select.html' %}
{% endblock %}