{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/movies/stylesheets/movies.css' %}">
{% endblock %}

{% block content %}
  <div id="carouselExampleCaptions" class="carousel slide carousel-div" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div >
          <h1 class="tag tag-title">{{ movie_top.title }}</h1>
          <img src="https://image.tmdb.org/t/p/original/{{ movie_top.backdrop_path }}" 
            class="carousel-main-img d-block w-100" alt="backdrop img">
        </div>
      </div>
      {% for movie_c in movies_top3 %}
        <div class="carousel-item">
            <h1 class="tag tag-title">{{ movie_c.title }}</h1>
            <img src="https://image.tmdb.org/t/p/original/{{ movie_c.backdrop_path }}" 
              class="carousel-main-img d-block w-100" alt="backdrop img">
        </div>
      {% endfor %}

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="sr-only">Next</span>
    </a>
  </div> 
  <div class="container p-5">
    {% if request.user.is_authenticated %}
      <h1>Hello</h1>
    {% else %}
      <h1>로그인 해주세요</h1>
    {% endif %}
    {% include 'movies/_recommend_saved.html' %}
    {% include 'movies/_recommend_topten.html' %}
  </div>  
    <!-- select, watch -->
    {% include 'movies/movie_select.html' %}
{% endblock %}