<script>
    const selectButtons = document.querySelectorAll('.select-button');
    selectButtons.forEach(function(selectButton){
        selectButton.addEventListener('click', function(event){
        const moviePk = event.target.dataset.moviePk
        const countInfo = document.querySelector(`#select-count-${moviePk}`)
        axios.get(`/movies/${moviePk}/selected`)
            .then(function(response){
            const count = response.data.count
            const select = response.data.select
            if (select){
                event.target.style.color = "crimson"
            }else{
                event.target.style.color = "black"
            }
            countInfo.innerText = `${count}`
            });
        });
    });
    const watchButtons = document.querySelectorAll('.watch-button');
    watchButtons.forEach(function(watchButton){
        watchButton.addEventListener('click', function(event){
        const moviePk = event.target.dataset.moviePk
        const countInfo = document.querySelector(`#watch-count-${moviePk}`)
        axios.get(`/movies/${moviePk}/watched`)
            .then(function(response){
            const count = response.data.count
            const watch = response.data.watch
            if (watch){
                event.target.style.color = "crimson"
            }else{
                event.target.style.color = "black"
            }
            countInfo.innerText = `${count}`
            });
        });
    });
</script>