{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Login{% endblock %}
{% block content %}
<!-- <div class="container-cover"> -->
    <!-- <div class="inner"> -->
        <!-- <div class="card account-card" style="width: 30rem;">
            <h3 class="card-header border-0 text-center mt-3">Log in</h3>
            <div class="card-body mx-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-info btn-block mt-5" value='Login'>Log In</button>
                    <div class="my-3">
                        <span class="mr-1">No account?</span>
                        <a href="#" data-toggle="modal" data-target="#signupModal">Create one</a>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="head-cover" 
            style="background-image: url('/static/images/cinemas.jpg');">
            <!-- <div class="inner"> -->
                <div class="card account-card" style="width: 30rem;">
                    <h3 class="card-header border-0 text-center mt-3">Log in</h3>
                    <div class="card-body mx-4">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button class="btn btn-info btn-block mt-5" value='Login'>Log In</button>
                            <div class="my-3">
                                <span class="mr-1">No account?</span>
                                <a href="#" data-toggle="modal" data-target="#signupModal">Create one</a>
                            </div>
                        </form>
                    </div>
                </div>
            <!-- </div> -->
    </div>
<!-- </div> -->
{% include 'accounts/_signUpModal.html' %}
{% endblock %}