{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="head-cover" 
        style="background-image: url('/static/images/cinemas.jpg');">
    <div class="container">
        <div class="mt-5 d-flex justify-content-center">
            <div class="card account-card" style="width: 30rem;">
                <h3 class="card-header border-0 text-center mt-3">Sign Up</h3>
                <div class="card-body mx-4">
                    <form action="" method="POST" col="5">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-info btn-block mt-5" value='Login'>Sign Up</button>
                        <div class="my-3">
                            <span>Already have an account?</span>
                            <a href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="mt-5 d-flex justify-content-center">
    <div class="card account-card" style="width: 50rem;">
        <h3 class="card-header border-0 text-center">Sign Up</h3>
        <div class="card-body">
            <form action="" method="POST" col="5">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-info btn-block mt-5" value='Login'>Sign Up</button>
                <span class="ml-3 mr-1">Already have an account?</span>
                <a href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
            </form>
        </div>
    </div>
</div> -->
{% include 'accounts/_loginModal.html' %}
{% endblock %}