{% if messages %}
    <!-- <span > -->
        {% for message in messages %}
            <span style="display: none; float: left; background: rgb(31, 31, 31)" class="msg" id="{{ message.tags }}-{{ message }}"></span>
        {% endfor %}
    <!-- </span> -->
{% endif %}

<script>
    const msg = document.querySelector('.msg')
    if (msg){
        const str = msg.id
        const words = str.split('-')

        if (words[0] == 'warning') {
            words[0] == 'warn'
        }
        $.notify(words[1], words[0])
    }
</script>