{% if messages %}
    <span style="display: none; float: left;">
        {% for message in messages %}
            <span class="msg" id="{{ message.tags }}-{{ message }}" style="display: none;"></span>
        {% endfor %}
    </span>
{% endif %}

<script>
    const msg = document.querySelector('.msg')
    if (msg){
        const str = msg.id
        const words = str.split('-')

        if (words[0] == 'warning') {
            words[0] == 'warn'
        }
        $.notify(words[1], words[0])
    }
</script>