{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container mt-5">
        <div class="column">
            {% if request.resolver_match.url_name == 'post_create' %}
            <h1>New review</h1>
            <hr>
            {% else %}
            <h1>Edit review</h1>
            <hr>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" value="제출">
                <button class="btn btn-info"><a href="{% url 'posts:post_list' %}" class="text-decoration-none text-white">뒤로가기</a></button>
            </form>
        </div>
    </div>
{% endblock %}
